.conatiner{
    height: 100%;
    padding: 5rem;
    box-sizing: border-box;
}


/* button{
    className="cursor-pointer rounded-md color-blue text-[#fff] border-brand font-rubik xl:text-lg text-sm border xl:px-9 px-5 xl:py-4 py-2"
} */

.button{
    background-color: rgb(107, 103, 220);
    fill: #fff;
    color: #fff;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 2px;
    font-weight: lighter;
}

.button2{
    background-color: transparent;
    fill: rgb(107, 103, 220);
    color: black;
    border: 1px solid rgb(107, 103, 220);
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 2px;
    font-weight: lighter;
}

.text{
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(98, 97, 97);
}

.text2{
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(98, 97, 97);
    /* margin: 1rem; */
    align-items: flex-start;
}