.m{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 188vh;
    width: 100%;
    margin-top: -17rem;
    /* margin-bottom: -5rem; */
    /* padding-top: -1rem; */


    /* line-height: 1.5; */
    /* background-image: cover; */
    /* background-image: url("https://t3.ftcdn.net/jpg/04/71/08/48/360_F_471084817_5XwJhgxKrcI1B37CtYbfhrAg7rX2V8Rk.jpg"); */
    /* display: flex; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* box-shadow: inset 5px 2px 5px  rgba(250, 249, 248, 0.204),
                5px 14px 76px #232223; */
                box-shadow: inset 1px 0 8px  rgba(188, 185, 183, 0.235),
                inset -1px -2px 95px #71a3d4bb;
}

.meet{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    /* height: 100vh; */
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: -18rem;
    margin-bottom: -0.7rem;
    padding: -1rem;
    
}

.meet1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    /* height: 100vh; */
    /* width: 100%; */
    margin: 0;
    padding: 0;
    

}

.meet_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* height: 100vh; */
    /* width: 100%; */
    margin: 0;
    padding: 0;
    margin-left: 2rem;
    margin-top: 2rem;
    /* padding: 3rem; */
    gap: 2rem;
    /* animation: slide 3s ease-in-out 1s; */
    word-spacing: 3px;

}

.txt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.9rem;
    font-weight: 600;
    color: rgba(35, 35, 35, 0.809);
    text-shadow: 2px 2px 7px rgba(96, 96, 96, 0.4);
    /* margin-left: -3rem; */
    padding-left: -5rem;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    position: relative;
    /* position: absolute; */
    letter-spacing: 3px;
    /* margin-right: 1rem; */
    /* animation: slide 1s ease-in-out; */
    /* word-spacing: 5px; */
}

.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: -2rem; */
    margin-right: -5rem;
    margin-left: 2rem;
    position: relative;
    padding: 0.5rem;
    /* position: absol; */
}

#bt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: -5rem;
    /* position: relative; */
    flex: 1;
    gap: 2rem;
    /* padding-top: 0.5rem; */
    margin-top: 0.9rem;
}

#bt{
    background-color: rgb(115, 107, 233);
    color: white;
    font-weight: 500;
    gap: 1rem;
    padding: 1rem;
    /* position: relative; */
    /* position: fixed; */
}

#bt:hover{
    /* background-color:  rgb(126, 117, 226); */
    background-color: rgb(108, 103, 236);
    box-shadow: 0 0 7px rgb(140, 122, 231);
    transform: scaleX(1.1);
    transition: all 0.2s ease;
    
}

#ins{
    color: rgb(99, 91, 202);
    margin-left: -0.5rem;
    letter-spacing: 3px;
    word-spacing: 7px;
}

.lin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 28vw;
    height: 1.2px;
    margin: 0.6rem;
    /* color: black; */
    background-color: rgb(172, 169, 169);
    min-width: fit-content;
    border-radius: 80%;
}

.meet2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* height: 100vh; */
}

.meet_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 30vw;
    height: 30vw; */
}

.meet_img>img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
    /* margin-top: 2rem; */
    /* padding-top: 2.5rem; */
    box-shadow: 0 0 5px rgb(98, 97, 101);
    border-radius: 50%;
    /* width: 28vw; */
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 2rem;
}

.meet_img>img:hover{
    /* transform: scale(1.1); */
    /* transition: all 0.2s ease; */
    box-shadow: 0 0 7px rgb(149, 149, 149);
    border-radius: 50%;
    /* cursor: pointer; */
}

.love{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    color: rgb(110, 109, 109);
    margin-top: -2rem;
    padding-top: 2rem;
    position: relative;
    /* word-spacing: 3px; */
}

.love>pre{
    /* font-family: 'Roboto', sans-serif; */
    font-size: 1.9rem;
    font-weight: 900;
    padding-top: 0.5rem;
    letter-spacing: 1px;
    color: black;
    position: relative;
}

.meet3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 45vh;
    width: 30vw;
    border-radius: 10px;
   
    background: transparent;
    margin-top: -2rem;
    padding: 1rem;
    /* margin-right: 3rem; */
}

.meet3_text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin: 2rem;
    background: transparent;
    /* padding: -3rem; */
    /* box-shadow: 0 0 5px rgba(112, 112, 112, 0.15); */
}

.meet3_text>img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 19px rgb(201, 201, 201);
    background-color: rgba(170, 201, 209, 0.317);
    /* background-color: transparent; */
    width: 100%;
    height: 100%;
    /* gap: 3rem; */
    /* gap: 3rem; */
    padding: 0.5rem;
    /* border-radius: 50%; */
    /* padding: 0.5rem; */
}

.meet3_text>img:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
    box-shadow: 0 0 1px rgb(38, 38, 38);
    background-color: transparent;
    border-radius: 5%;
}

.LI{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 2.3px;
    margin: 0.6rem;
    /* color: black; */
    /* background-color: rgb(172, 169, 169); */
    background: linear-gradient(
    to right, 
    #a3a3a3 0%, 
    #dbdbdb 20%, 
    #fcfcfc 50%, 
    transparent 50%
  );
    min-width: fit-content;
    margin-top: 1rem;
    /* padding-top: 1rem; */
    margin-right: 1rem;
    padding-right: 1rem;
    /* border-radius: 80%; */
}
.m4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* gap: 0.5rem; */
    /* flex-grow: 1; */
    width: 100%;
    /* height: 30vh; */
    margin-top: 1rem;
    margin-left: -9rem;
    margin-right: 19rem;
    padding: 0.5rem;
    padding-left: 7rem;
    color: rgb(45, 45, 45);
    font-size: 2.6rem;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.9px;
    /* gap: 0.5rem; */
}

.meet4_text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 9rem;
    /* margin: 2rem; */
    margin-right: 7rem;
    margin-left: 1rem;
    background: transparent;
    padding-left: 1.5rem;
}
.pl{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color: rgb(91, 86, 232);
    font-size: 1.2rem;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
    /* padding-bottom: 0.5rem; */
    padding-left: 0.3rem;
    padding-right: 3rem;
    padding-bottom: 1.2rem;
    margin-bottom: -0.3rem;
    
}

.get{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color: rgb(45, 45, 45);
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2.4px;
    padding-bottom: -0.8rem;
    margin-bottom: -0.8rem;
    padding-right: 3rem;
    /* margin-top: 1rem; */
}

.our{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color: rgba(45, 45, 45, 0.749);
    font-size: 0.9rem;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
    margin-right: 7rem;
    padding-right: 3rem;
    gap: 5rem;
    padding-left: 0.3rem;
}


/*_________________ Works __________________________ */

.r-right{
    display: flex;
    position: relative;
    flex-direction: row;
    left : 0.4rem;
}

.e-mainCircle{
    top: -17rem;
    left: 7rem;
    right: 3rem;
    gap: 2rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--boxShadow);
    /* top: 2rem; */
    background: transparent;
    margin-bottom: -21rem;
}

.e-mainCircle>*{
    position: absolute;
}

/* logos  */
/* Microsoft */
.e-mainCircle > :nth-child(1){
    top: 25rem;
    left: 20rem;
}

/* // meta  */
.e-mainCircle > :nth-child(2){
    top: 14.5rem;
    left: 2rem;
}

/* linkedin  */
.e-mainCircle > :nth-child(3){
    top: 17.5rem;
    left: 8.7rem;
}

/* adobe  */
.e-mainCircle > :nth-child(4){
    top: 22rem;
    left: 8.5rem;
    width: 0.9rem;
}

/* apple  */
.e-mainCircle > :nth-child(5){
    top: 9.5rem;
    left: 11rem;
}

/* amazon  */
.e-mainCircle > :nth-child(6){
    top: 14.5rem;
    left: 19.5rem;
}

/* ola */
.e-mainCircle > :nth-child(7){
    top: 17.5rem;
    left: 13.5rem;
}

/* // Netflix  */
.e-mainCircle > :nth-child(8){
    top: 30.4rem;
    right: 6rem;
    background: transparent;
    width: 1rem;
    height: 1rem;
}

/* // Google */
.e-mainCircle > :nth-child(9){
    top: 24.3rem;
    left: 1.5rem;
}

/* flipkart */
.e-mainCircle > :nth-child(10){
    top: 22rem;
    left: 13.5rem;
}

.e-secCircle{
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    background: transparent;
}

.e-secCircle> img{
    transform: scale(9);
}

.e-backCircle{
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -1;
}

.pinkCircle{
    background: #efcbf39f;
    left: 12rem;
    top: -3.2rem;
}

.grayCircle{
    background: rgba(249, 249, 249, 0.837);
    left: 15rem;
    top: -0.3rem;
    position: absolute;
    height: 7rem;
    width: 7rem;
    /* border: 1px solid #e1e1e1; */
}

.whiteCircle{
    background: transparent;
    left: 8rem;
    top: -7rem;
    /* position: relative; */
    height: 21rem;
    width: 21rem;
    border: 1px solid #e1e1e18c;
}